<mat-form-field *ngIf="fullArticleList" appearance="fill">
  <mat-label>Sort articles by:</mat-label>
  <mat-select [(value)]="selected" (valueChange)="updateArticleOrder($event)">
    <mat-option value="beststories.json">Best</mat-option>
    <mat-option value="topstories.json">Top</mat-option>
    <mat-option value="newstories.json">New</mat-option>
  </mat-select>
</mat-form-field>

<mat-progress-spinner mode="indeterminate" *ngIf="loading" style="margin:0 auto;" ></mat-progress-spinner>

<div *ngFor="let article of articles">
  <div class="card">
    <div class="card-body">
      <a href="{{article.url}}"><h5 class="card-title">{{article.title}}</h5></a>
      <h6 class="card-subtitle mb-2 text-muted">Author: <span>{{article.by}}</span> | Score: <span>{{article.score}}</span> | Date: <span>{{convertDate(article.time)}}</span></h6>
    </div>
  </div>
</div>

<mat-paginator [length]="articlesFound" [pageSize]="30"
               [pageSizeOptions]="[30, 50, 70]"
               (page)="updatePaginator($event)"
               aria-label="Select page">
</mat-paginator>
